/*Home styles*/
.container {
  max-width: 960px;
}

.site-header {
  background-color: #fff(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

#particles-js {
  background-size:cover;
  /* background-position:center; */
  /* background-repeat:no-repeat; */
  /* z-index:1; */
  /* padding-top:70px; */
  /* padding-bottom:130px; */
  color: chartreuse;
}

#buttons{
  display:flex;
}
.flex-stuff{
  display:flex;
}

.body{
  margin:0;
  padding:0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}
.container1 {
  height: auto;
  display: flex;
  justify-content: center;
}
.login-text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#login{
  font-weight:bold;
}
#logo{
  font-family: 'Special Elite', cursive;
  color:#ed5107;
  font-size:20px;
}

#option-signup{

  margin-top:20px;
}



.division {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

#centered-card{
  margin:0;
  padding:0;
}


#hellobutton {
  margin-top:20px;
  border: 0;
  background: orangered;
  width: 80px;
  height: 40px;
  box-shadow: #989898 0 0 20px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  justify-content: right;
}

#hellobutton:hover {
background: darkmagenta;
align-items: center;
margin-left: 0.5rem;
}  
