{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <a href="/user/category/motivation">
        <button class="btn btn-danger">
             Create a pitch</button>
    </a>
    <br> {%for motivation in posts%}
    <div class="row">
        <div class="panel panel-default">
            <a style="text-decoration: none;" href="/user/motivation/{{motivation.id}}">
                <h4>{{motivation.post}}</h4>
            </a>
            <h5>by {{motivation.user.username}}</h5>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}